body {
    text-align: center;
    margin: 200px;
    background-color: #514d58;
    display: grid;
    justify-content: center;
    position: relative;
  }
   
  button {
    padding: 10px 30px;
    margin: 10px;
    background-color: rgb(77, 73, 107);
    border: #ccc solid 1px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .stop {
    border: 2px solid rgb(77, 73, 107);
    background-color: rgb(77, 73, 107);
    color: white;
  }
  
  button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(135, 72, 150);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-7px);
    font-weight: bold;
  }
  
  button:active {
    transform: translateY(-1px);
  }
  .forward {
    width: 160px;
    left: 114px;
    position: relative;
  }
  .backward {
    width: 160px;
    left: 114px;
    position: relative;
  }
  .center {
    display: flex;
  }